{% load static %}
<!DOCTYPE html>
<html lang="en">
<html>
    <head>
        <title>GameOverFLow</title>
        <link rel="stylesheet" href="{% static 'css/gameoverflow.css'}">
        <script src="{% static 'fontawesomefree/js/all.min.js' %}"></script>
    </html>
    <nav>
        {% if user.is_authenticated %}
        <p class="logo">GameOverFlow</p>
        <ul class="nav-links">
            <li><a href="{% url 'index' %}">Home</a></li>
            <li><a href="{% url 'question_list' %}">Question</a></li>
            
            <div>
                <span class="nav-icon"><i class="fas fa-user"></i>{{ user.username }}</span>
                <li><a class="btn btn-logout" href="{% url 'logout' %}">Logout</a></li>
            </div>
        {% else %}
        <p class="logo">GameOverFlow</p>
        <ul class="nav-links">
            <li><a href="{% url 'index' %}">Home</a></li>
            <li><a href="{% url 'question_list' %}">Question</a></li>
            <div>
                <li><a class="btn btn-logint" href="{% url 'login' %}">Login</a></li>
                <li><a class="navbar-item" href="{% url 'signup' %}">Sign Up</a></li>
            </div>
        {% endif %}   
    </nav>
    <body>
        <main>
            {% block content %}
            {% endblock %}
        </main>
    </body>
</html>