{% extends "gameoverflow/base.html" %} {% block content %}
<article class="container">
  <div class="question-top">
    <h2 class="all-questions-title">All Questions</h2>

    <a href="{% url 'question_ask' %}" class="btn btn-ask-question"
      >Ask Question</a
    >
  </div>

  <div class="question-container">
    {% for question in questions %}
    <div class="question-summary">
      <div class="question-detail">
        <p>
          <a
            class="question-title"
            href="{% url 'question_detail' id=question.id %}"
            >{{ question.question_title }}</a
          >
        </p>
        <ul class="question-summary-bottom">
          <div class="question-user">
            <li class="user">{{ question.user }}</li>
            <li class="question-date">{{ question.pub_date }}</li>
          </div>
          {% for tag in question.question_tags %}
          <div class="question-tags">
            <li class="tag">{{ tag }}</li>
          </div>
          {% endfor %}
        </ul>
      </div>
    </div>
    {% endfor %}
  </div>
</article>
{% endblock content %}
