{% extends "gameoverflow/base.html" %} {% block content %}
<article class="container">
  <div class="question-top">
    <h2 class="all-questions-title">All Questions</h2>

    <a href="{% url 'question_ask' %}" class="btn btn-ask-question"
      >Ask Question</a
    >
  </div>

  <ul class="question-container">
    {% for question in questions %}
    <div class="question-summary">
      <div class="question-stats">
        <li class="question-vote">{{ question.question_vote }} votes</li>
        <li class="question-answer">{{ question.question_answer }} answers</li>
        <li class="question-views">{{ question.question_views }} views</li>
      </div>
      <div class="question-detail">
        <li>
          <a class="question-title" href="{% url 'question_detail' id=question.id %}"
            >{{ question.question_title }}</a
          >
        </li>
        <div class="question-summary-bottom">
          <div class="question-user">
            <li class="user">{{ question.user }}</li>
            <li class="question-date">{{ question.pub_date }}</li>
          </div>
          {% for tag in question.question_tags %}
          <div class="question-tags">
            <li class="tag">{{ tag }}</li>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
    {% endfor %}
  </ul>
</article>
{% endblock content %}
